ul {
  list-style: none;
  max-width: 50rem;
  min-width: 20rem;
  margin: 0 auto;
  a {
    display: block;
    border: 1px solid rgb(168, 167, 167);
    text-align: center;
    margin: 2rem;
    p{
      font-size: 1.2rem;
      color: black;
    }
    &:hover {
      position: relative;
      top: -.1rem;
      box-shadow: 0 0 2px rgb(117, 113, 113);
      background-color: rgb(234, 243, 253);
    }
  }
}