* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
#manage {
  display: flex;
  nav {
    background-color: #ddd;
    flex: 1;
    height: 100vh;
    p {
      text-align: center;
      font-size: 1rem;
      line-height: 5rem;
      font-weight: bold;
    }
    ul {
      // position: fixed;
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: center;
      a {
        display: block;
        text-align: center;
        // width: 20rem;
        height: 4rem;
        text-decoration: none;
        line-height: 4rem;
        border-radius: 2rem;
        margin: 2rem 0.9rem;
        background-color: rgb(151, 208, 255);
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
      }
      a:hover {
        box-shadow: 2px 2px 12px white;
        background-color: rgb(112, 188, 250);
        // font-size: 1.5rem;
        // letter-spacing: .6rem;
        animation: hover_btn 5s;
      }
      @keyframes hover_btn {
        0% {
          font-size: 1.2rem;
          letter-spacing: 0.2rem;
        }
        2% {
          font-size: 1.6rem;
          letter-spacing: 0.9rem;
        }
        95% {
          font-size: 1.6rem;
          letter-spacing: 0.9rem;
        }
        99% {
          font-size: 1.2rem;
          letter-spacing: 0.2rem;
        }
      }
    }
  }
  & > main {
    // background-color: rgb(237, 240, 241);
    flex: 4;
    overflow-y: scroll;
    height: 100vh;
  }
}
@media (max-width: 640px) {
  nav {
    display: none;
  }
}
